/*
* #0CEAD4
*/

*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    background-color: black;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.my_image{
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 30px 0px;
}

.my_image img{
    
    border-radius: 50%;
    width: 62vw;
    height: 62vw;
    top: 3rem;
}

.head-container{
    margin: 10px 15px 40px 15px;
    padding: 10px;
    font-size: 20px;
}

.head-container p{
    font-size: 25px;
}

.head-container span{
    color: #0CEAD4;
}

.nav-button{
    border: 20px;
    border-radius: 4px;
    padding: 8px;
    background-color: #0061b51d;
    margin: 8px;
    cursor: pointer;
}

.nav-button i{
    color: #0CEAD4;
}

.overlay{
    width: 0%;
    height: 100%;
    
    z-index: 9;
    position: fixed;
    left: 0;
    top:0;
    overflow-x: hidden;
    transition: all 0.5s;
}

.overlay-content{
    
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 50%;
    
}

.overlay a{
    
    padding: 8px;
    text-decoration: none;
    color: #818181;
    display: block;
    font-size: 20px;
    transition: 0.3s;

}

.overlay a:hover, .overlay a:focus{
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 25px;
    right: 45px;
    font-size: 25px;
}

.menu-icon{
    cursor: pointer;
}


html, body{
    width: 100%;
    height:100%;
}

#home{
    margin: 20px;
}

.home-div-Initi{
    margin: 10px 0px 10px 0px;
}
.home-div-Initi h1{
    margin: 10px 0px 10px 0px;
    font-size: 30px;
}

.home-div-Initi p{
    
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    color: #0CEAD4;
    border-right: 2px solid #0CEAD4;
    white-space: nowrap;
    overflow: hidden;

    width: 12.1ch;

    animation: mark .5s step-end infinite, write 6s steps(22, end) infinite;

}

@keyframes mark {
    
    50%{
        border-right-color: transparent;
    }

}

@keyframes write {
    0%, 100% {
        width: 0;
    }
    30%, 50% {
        width: 12.1ch; /* Define a largura do texto */
    }
    70%, 85% {
        width: 0; /* Apaga o texto lentamente */
    }

}

.show-div{
    margin:0px 0px 15px 0px ;
}

.btn-container{
    margin: 10px 0px 15px 0px;
    justify-content: center;
    display: flex;
}

.btn-container button {
    margin: 0px 10px 0px 0px;
    width: 135px;
    height: 37px;
    border-radius: 10px;
    border: 2px solid transparent; /* Adicionamos uma borda transparente para que ela apareça ao passar o mouse */
    color: #0CEAD4;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(12, 234, 212, 0.3); /* Ajustamos a sombra com um efeito mais suave */
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative; /* Para manipular o brilho */
    overflow: hidden; /* Para ajustar o brilho */
}

.btn-container button:hover {
    transform: scale(1.05) translateY(-5px); /* Aumentamos um pouco o tamanho e levantamos o botão */
    background-color: rgba(12, 234, 212, 0.1); /* Ajustamos a cor de fundo ao passar o mouse */
    border-color: #0CEAD4; /* Ajustamos a cor da borda ao passar o mouse */
    box-shadow: 0 0 35px rgba(12, 234, 212, 0.5); /* Ajustamos a sombra para destacar mais */
}

.btn-container button::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease-in-out;
    z-index: 0;
}

.btn-container button:hover::before {
    transform: scale(1.2);
}

.btn-container button span {
    position: relative;
    z-index: 1;
}

.btn-container-icons {
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.my_network_p{
    margin-top: 30px;
    margin-bottom: 22px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.btn-container-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 5px 0px;
    width: 50px;
    height: 50px;
    color: #0CEAD4;
    background-color: black;
    border: 2px solid #0CEAD4;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(12, 234, 212, 0.3); /* Efeito de brilho inicial */
    text-decoration: none; /* Remove a sublinhado do link */
}

.btn-container-icons a:hover,
.btn-container-icons a:focus {
    color: black;
    background-color: #0CEAD4;
    transform: translateY(-5px) scale(1.1); /* Levanta e aumenta o ícone */
    box-shadow: 0 0 25px rgba(12, 234, 212, 0.5); /* Aumenta o brilho */
}

.btn-container-icons i {
    font-size: 24px; /* Tamanho do ícone */
    transition: all 0.3s ease-in-out;
    background: none; /* Remove qualquer fundo ao redor do ícone */
    box-shadow: none; /* Remove qualquer sombra ao redor do ícone */
    border: none; /* Remove qualquer borda ao redor do ícone */
}

/* Adicionando um efeito de foco para acessibilidade */
.btn-container-icons a:focus {
    outline: none;
    box-shadow: 0 0 25px rgba(12, 234, 212, 0.7);
}


#sobremim{
    margin: 20px;
}

#sobremim h3{
    font-size: 25px;
}

#sobremim h4{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}


@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.logos{
    overflow: hidden;
    padding: 15px 0;
    margin-bottom: 10px;
    white-space: nowrap;
}

.logos:hover .logos-slide{
    animation-play-state: paused;
}

.logos-slide{
    display: inline-block;
    animation: 35s slide infinite linear;
}

.logos-slide img{
    height:50px;
    margin: 20px 5px 5px 5px;
}









